In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
movies= pd.read_csv('ml-1m/movies.dat',sep = '::', header = None, engine = 'python', encoding='latin-1')

In [3]:
movies[movies[1] == 'Toy Story (1995)']

   0                 1                            2
0  1  Toy Story (1995)  Animation|Children's|Comedy

In [4]:
users= pd.read_csv('ml-1m/users.dat',sep = '::', header = None, engine = 'python', encoding='latin-1')

In [5]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [6]:
ratings= pd.read_csv('ml-1m/ratings.dat',sep = '::', header = None, engine = 'python', encoding='latin-1')

In [7]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

column 0 is the user id <br>
column 1 is the movie id <br>
column 2 is the rating given by the user <br>
column 3 is the time stamp <br>
Note: For the user and movie details we can refer their data set loaded above

### Preparing the data

In [8]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')

In [9]:
training_set

         1   1.1  5  874965758
0        1     2  3  876893171
1        1     3  4  878542960
2        1     4  3  876893119
3        1     5  3  889751712
4        1     7  4  875071561
...    ...   ... ..        ...
79994  943  1067  2  875501756
79995  943  1074  4  888640250
79996  943  1188  3  888640250
79997  943  1228  3  888640275
79998  943  1330  3  888692465

[79999 rows x 4 columns]

In [10]:
training_set= np.array(training_set, dtype = 'int')

In [22]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [23]:
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')

In [24]:
test_set= np.array(test_set, dtype = 'int')

#### Getting the number of movies and number of users

In [25]:
nb_users=  int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_users

943

In [26]:
nb_movies=  int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_movies

1682

#### Function for converting a matrix of ratings as per user. rows has user and columns has movie wise ratings
$$\begin{bmatrix} 1 & 2 & 1 & ....\\ 3 & 0 & 1 & ....\\ 0 & 2 & 4 & .... \\ . \\ .\end{bmatrix}$$ <br>
where 0 rating means user did not rate the movie

In [29]:
def convert(data):
    new_data = []
    for user in range(1,nb_users+1):
        id_movies= data[:,1][data[:,0]==user]
        id_rating = data[:,2][data[:,0]==user]
        rating= np.zeros(nb_movies)
        rating[id_movies-1] = id_rating
        new_data.append(list(rating))
    return new_data

In [30]:
training_set= convert(training_set)

In [31]:
test_set= convert(test_set)

In [32]:
len(training_set),len(training_set[0]) # dimenssion of the data

(943, 1682)

### Converting data into tensors

In [33]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

### Autoencoder architecture 
#### Stacked auto encoder

In [44]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20) # out feature =20 is just an experimental value. We could tune it for best
        self.fc2 = nn.Linear(20, 15) # 2nd hidden layer
        self.fc3 = nn.Linear(15, 20) # 3rd hidden layer (Decoding or decompression process)
        self.fc4 = nn.Linear(20, nb_movies) # 2nd hidden layer
        self.activation = nn.Hardtanh()
        self.activation1 = nn.Softmax()
    def forward(self, x):
        x = self.activation(self.fc1(x)) # x in fc1(x) is the first input vector applied to the network
        x = self.activation(self.fc2(x)) # x in fc2(x) is the outpout of first hidden layer
        x= self.activation1(self.fc3(x))
        x = self.fc4(x) # now x will be the output of the Auto encoder
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay=0.5)

### Training SAE

In [45]:
nb_epoch = 200
for epoch in range(1, nb_epoch+1):
    train_loss = 0
    s = 0.  # we will use it to exclude the users who havent rate any movie
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0) # to add a new dimession as per teh reqirements of nn
        target = input.clone()
        if torch.sum(target.data>0) > 0:
            output = sae(input)
            target.required_grad = False
            output[target==0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data>0) +1e-10) # 1e-10 to avoid devison by zero
            loss.backward() # decide the dirction in which weights are updated
            train_loss += np.sqrt(loss.data* mean_corrector)
            s += 1.
            optimizer.step()  # decides the amount by what weights must be updated
    print('epoch: ' + str(epoch) + '   loss: '+ str(train_loss/s))

C:\Users\katiy\anaconda3\envs\gpu_test\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  del sys.path[0]

epoch: 1   loss: tensor(3.2419)
epoch: 2   loss: tensor(2.4788)
epoch: 3   loss: tensor(2.0611)
epoch: 4   loss: tensor(1.8061)
epoch: 5   loss: tensor(1.6391)
epoch: 6   loss: tensor(1.5222)
epoch: 7   loss: tensor(1.4376)
epoch: 8   loss: tensor(1.3731)
epoch: 9   loss: tensor(1.3236)
epoch: 10   loss: tensor(1.2836)
epoch: 11   loss: tensor(1.2517)
epoch: 12   loss: tensor(1.2248)
epoch: 13   loss: tensor(1.2030)
epoch: 14   loss: tensor(1.1839)
epoch: 15   loss: tensor(1.1681)
epoch: 16   loss: tensor(1.1540)
epoch: 17   loss: tensor(1.1422)
epoch: 18   loss: tensor(1.1314)
epoch: 19   loss: tensor(1.1224)
epoch: 20   loss: tensor(1.1139)
epoch: 21   loss: tensor(1.1068)
epoch: 22   loss: tensor(1.0998)
epoch: 23   loss: tensor(1.0942)
epoch: 24   loss: tensor(1.0885)
epoch: 25   loss: tensor(1.0839)
epoch: 26   loss: tensor(1.0792)
epoch: 27   loss: tensor(1.0753)
epoch: 28   loss: tensor(1.0713)
epoch: 29   loss: tensor(1.0681)
epoch: 30   loss: tensor(1.0646)
epoch: 31   loss: tensor(1.0619)
epoch: 32   loss: tensor(1.0589)
epoch: 33   loss: tensor(1.0566)
epoch: 34   loss: tensor(1.0540)
epoch: 35   loss: tensor(1.0520)
epoch: 36   loss: tensor(1.0497)
epoch: 37   loss: tensor(1.0479)
epoch: 38   loss: tensor(1.0458)
epoch: 39   loss: tensor(1.0443)
epoch: 40   loss: tensor(1.0425)
epoch: 41   loss: tensor(1.0411)
epoch: 42   loss: tensor(1.0394)
epoch: 43   loss: tensor(1.0383)
epoch: 44   loss: tensor(1.0367)
epoch: 45   loss: tensor(1.0357)
epoch: 46   loss: tensor(1.0343)
epoch: 47   loss: tensor(1.0333)
epoch: 48   loss: tensor(1.0321)
epoch: 49   loss: tensor(1.0312)
epoch: 50   loss: tensor(1.0300)
epoch: 51   loss: tensor(1.0293)
epoch: 52   loss: tensor(1.0282)
epoch: 53   loss: tensor(1.0275)
epoch: 54   loss: tensor(1.0265)
epoch: 55   loss: tensor(1.0259)
epoch: 56   loss: tensor(1.0249)
epoch: 57   loss: tensor(1.0244)
epoch: 58   loss: tensor(1.0234)
epoch: 59   loss: tensor(1.0230)
epoch: 60   loss: tensor(1.0221)
epoch: 61   loss: tensor(1.0217)
epoch: 62   loss: tensor(1.0209)
epoch: 63   loss: tensor(1.0205)
epoch: 64   loss: tensor(1.0197)
epoch: 65   loss: tensor(1.0193)
epoch: 66   loss: tensor(1.0186)
epoch: 67   loss: tensor(1.0183)
epoch: 68   loss: tensor(1.0176)
epoch: 69   loss: tensor(1.0173)
epoch: 70   loss: tensor(1.0167)
epoch: 71   loss: tensor(1.0164)
epoch: 72   loss: tensor(1.0158)
epoch: 73   loss: tensor(1.0155)
epoch: 74   loss: tensor(1.0149)
epoch: 75   loss: tensor(1.0147)
epoch: 76   loss: tensor(1.0141)
epoch: 77   loss: tensor(1.0139)
epoch: 78   loss: tensor(1.0134)
epoch: 79   loss: tensor(1.0132)
epoch: 80   loss: tensor(1.0127)
epoch: 81   loss: tensor(1.0125)
epoch: 82   loss: tensor(1.0120)
epoch: 83   loss: tensor(1.0119)
epoch: 84   loss: tensor(1.0114)
epoch: 85   loss: tensor(1.0112)
epoch: 86   loss: tensor(1.0108)
epoch: 87   loss: tensor(1.0107)
epoch: 88   loss: tensor(1.0102)
epoch: 89   loss: tensor(1.0101)
epoch: 90   loss: tensor(1.0096)
epoch: 91   loss: tensor(1.0095)
epoch: 92   loss: tensor(1.0090)
epoch: 93   loss: tensor(1.0089)
epoch: 94   loss: tensor(1.0085)
epoch: 95   loss: tensor(1.0083)
epoch: 96   loss: tensor(1.0078)
epoch: 97   loss: tensor(1.0077)
epoch: 98   loss: tensor(1.0072)
epoch: 99   loss: tensor(1.0070)
epoch: 100   loss: tensor(1.0065)
epoch: 101   loss: tensor(1.0060)
epoch: 102   loss: tensor(1.0051)
epoch: 103   loss: tensor(1.0044)
epoch: 104   loss: tensor(1.0028)
epoch: 105   loss: tensor(1.0022)
epoch: 106   loss: tensor(0.9997)
epoch: 107   loss: tensor(0.9983)
epoch: 108   loss: tensor(0.9956)
epoch: 109   loss: tensor(0.9955)
epoch: 110   loss: tensor(0.9929)
epoch: 111   loss: tensor(0.9918)
epoch: 112   loss: tensor(0.9905)
epoch: 113   loss: tensor(0.9888)
epoch: 114   loss: tensor(0.9881)
epoch: 115   loss: tensor(0.9863)
epoch: 116   loss: tensor(0.9853)
epoch: 117   loss: tensor(0.9853)
epoch: 118   loss: tensor(0.9830)
epoch: 119   loss: tensor(0.9837)
epoch: 120   loss: tensor(0.9803)
epoch: 121   loss: tensor(0.9786)
epoch: 122   loss: tensor(0.9778)
epoch: 123   loss: tensor(0.9783)
epoch: 124   loss: tensor(0.9766)
epoch: 125   loss: tensor(0.9779)
epoch: 126   loss: tensor(0.9750)
epoch: 127   loss: tensor(0.9775)
epoch: 128   loss: tensor(0.9771)
epoch: 129   loss: tensor(0.9840)
epoch: 130   loss: tensor(0.9814)
epoch: 131   loss: tensor(0.9800)
epoch: 132   loss: tensor(0.9791)
epoch: 133   loss: tensor(0.9756)
epoch: 134   loss: tensor(0.9746)
epoch: 135   loss: tensor(0.9735)
epoch: 136   loss: tensor(0.9733)
epoch: 137   loss: tensor(0.9752)
epoch: 138   loss: tensor(0.9758)
epoch: 139   loss: tensor(0.9756)
epoch: 140   loss: tensor(0.9761)
epoch: 141   loss: tensor(0.9729)
epoch: 142   loss: tensor(0.9700)
epoch: 143   loss: tensor(0.9686)
epoch: 144   loss: tensor(0.9692)
epoch: 145   loss: tensor(0.9661)
epoch: 146   loss: tensor(0.9664)
epoch: 147   loss: tensor(0.9669)
epoch: 148   loss: tensor(0.9660)
epoch: 149   loss: tensor(0.9650)
epoch: 150   loss: tensor(0.9637)
epoch: 151   loss: tensor(0.9642)
epoch: 152   loss: tensor(0.9634)
epoch: 153   loss: tensor(0.9653)
epoch: 154   loss: tensor(0.9641)
epoch: 155   loss: tensor(0.9660)
epoch: 156   loss: tensor(0.9648)
epoch: 157   loss: tensor(0.9652)
epoch: 158   loss: tensor(0.9638)
epoch: 159   loss: tensor(0.9623)
epoch: 160   loss: tensor(0.9627)
epoch: 161   loss: tensor(0.9631)
epoch: 162   loss: tensor(0.9624)
epoch: 163   loss: tensor(0.9610)
epoch: 164   loss: tensor(0.9605)
epoch: 165   loss: tensor(0.9598)
epoch: 166   loss: tensor(0.9584)
epoch: 167   loss: tensor(0.9594)
epoch: 168   loss: tensor(0.9625)
epoch: 169   loss: tensor(0.9614)
epoch: 170   loss: tensor(0.9591)
epoch: 171   loss: tensor(0.9585)
epoch: 172   loss: tensor(0.9594)
epoch: 173   loss: tensor(0.9620)
epoch: 174   loss: tensor(0.9640)
epoch: 175   loss: tensor(0.9608)
epoch: 176   loss: tensor(0.9601)
epoch: 177   loss: tensor(0.9600)
epoch: 178   loss: tensor(0.9632)
epoch: 179   loss: tensor(0.9630)
epoch: 180   loss: tensor(0.9599)
epoch: 181   loss: tensor(0.9614)
epoch: 182   loss: tensor(0.9619)
epoch: 183   loss: tensor(0.9600)
epoch: 184   loss: tensor(0.9591)
epoch: 185   loss: tensor(0.9596)
epoch: 186   loss: tensor(0.9581)
epoch: 187   loss: tensor(0.9575)
epoch: 188   loss: tensor(0.9568)
epoch: 189   loss: tensor(0.9565)
epoch: 190   loss: tensor(0.9567)
epoch: 191   loss: tensor(0.9570)
epoch: 192   loss: tensor(0.9575)
epoch: 193   loss: tensor(0.9571)
epoch: 194   loss: tensor(0.9574)
epoch: 195   loss: tensor(0.9571)
epoch: 196   loss: tensor(0.9561)
epoch: 197   loss: tensor(0.9554)
epoch: 198   loss: tensor(0.9548)
epoch: 199   loss: tensor(0.9547)
epoch: 200   loss: tensor(0.9543)

### Testing the AutoEncoder

In [77]:
x = [1,2,3,4,5,0,0]
x = torch.FloatTensor(x)
input = Variable(x).unsqueeze(0)
input.require_grad = False

In [80]:
test_loss = 0
s = 0.
for id_users in range(nb_users):
    input = Variable(training_set[id_users]).unsqueeze(0) # here we taken training set because SAE will take the ratings 
    ## of the user who has given the rating to the movie he has watched. Based on that data we will prdict that what raing
    ## user will give to those movies which were not watched by particular user.
    target = Variable(test_set[id_users]).unsqueeze(0) # target contains actual ratings
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target ==0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9914)

C:\Users\katiy\anaconda3\envs\gpu_test\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  del sys.path[0]